/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  color:rgb(50, 157, 164, .7);
  }
  /******************************************
  /* LAYOUT
  /*******************************************/
 
  .button-6 {
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(6, 6, 6);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 300;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2.3rem;
    /* padding: calc(.875rem - 1px) calc(1.5rem - 1px); */
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-right: 15px;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(201, 250, 255, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  
  #trackA{
    height: 2.3rem;
    border: 1px solid rgba(174, 174, 174, 0.952);
    margin-right: 0;
  }

  input::placeholder {
    padding-left:10px;
    letter-spacing: 0.1em;
  }
  
  img{
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 100px;
    background-color: #F2F2F2;
    width: 80%;
    
  
  }
  
  /* nav section */
  
  nav{
    position: fixed;
    width: 80%;
    margin: 10px;
    z-index: 1000;
    /* background-color:  #F2F2F2; */
  }
  
  
  
  header {
    display: flex;
    justify-content: space-between;
    
  
  }
  header .subtitle{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
  }
   header .subtitle span+span {
    font-weight: 400;
    padding-bottom: 20px;
   }
  
   h1 {
    font-size:96px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0;
   }
  
   .sayings {
    padding-top: 10px;
  width:60%;
   }
  
   hr {
    width: 52%;
    border-width: 2px;
    background-color: black;
  
    
   }
   .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }
  
   /* section */
  
   .title {
    position: absolute;
    padding-top:100px;
   }
  
   section{
    height:auto;
    padding-top: 180px;
    
   }
  
   .grid-container {
    display: grid;
  }
  
  .sectionContainer {
    display: flex;
    flex-direction: row;
  
  }
  .scrollNum {
    position: fixed;
    padding:10px;
    padding-top: 500px;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 600;
    color:#C9C9C9;
  }
  
  /*covers */
  #cover{
    /* margin: auto; */
    position: relative;
  }
  #covers ul {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    
  }
  
  #covers ul li {
    list-style: none;
    width: 230px;
    height:230px;
    background-color: white;
    margin: 20px;
    padding: 15px;
    filter: opacity(0.5);
    display:table;
  
   
  }
  
  
  #covers ul li:hover {
    filter: none;
    box-shadow: 0 15px 15px 15px rgba(135, 183, 185, 0.232); ;
  }
  
  #cover ul li div {
    display: block;
    width: 20%;
    height: 100px;
  }
  
  
  
  /* scroll numbers */
  
  .scrollNum ul li{
    list-style: none;
  }
  
  /* music player */
  .material-symbols-outlined:hover {
    scale: 1.5;
    filter: drop-shadow(10 19 1.75rem rgb(255, 0, 51));
    z-index: 1000;
    background: radial-gradient(circle, rgba(224,214,163,1) 20%, rgba(255,199,13,0.051155496378238796) 50%);
    border-radius: 20px;
  }

  #music {
    padding-left: 15px;
  }

   .musicContainer {
    width: 350px;
    background-color: rgb(50, 157, 164, .7); 
    border-radius: 20px;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 500px;
    padding: 20px;
    color:white;
    backdrop-filter: blur(6px);
    
    
  } 
  .hide {
    display:none
  }
  
  .musicContainer2 {
    width: 350px;
    background-color: rgb(50, 157, 164, .7); 
    border-radius: 20px;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 150px;
    padding: 8px;
    color:white;
    backdrop-filter: blur(6px);
    display: inline-flex;
    
  }
  .musicCover{
    width:200px;
  }
  .musicCover2{
    width:150px;
  }

  .musicInfo2 {
    /* padding-bottom: 0; */
    padding: 0
  }
  
  .musicContainer>div{
    right: 0;
  
  }
  h4 {
    text-align: center;
  }
  
  h5,  .trackNum {
    padding-top: 10px;
    padding-bottom: 1em;
    text-align: center;
  }

  .trackName {
    padding-bottom: 1em;
  }

  .trackName2 {
    padding-bottom:0;
  }
  
  .nowPlaying h5{
    font-size: 1em;
    padding-bottom: 2em;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  
  .trackNum {
    color: rgba(186, 255, 255, 0.862);
    padding-top: 10px;
  }
  
  .trackName {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding-top: 0;
  }

  .disclaimer {
    /* flex: 1; */
    font-size: 12px;
    color: #535353;
    width: 50%;
    bottom: 0;
    
  }

  .footer p {
    padding:10px 0;
  }
  
  .footer{
    margin-left: 50px;
    margin-top: 50px;
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  


  